{% extends "base.html" %}
{% block title %}About{% endblock %}
{% block content %}
<section class="probootstrap-section probootstrap-section-colored">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-left section-heading probootstrap-animate">
        <h1>About Mahila Vikas Kendra</h1>
      </div>
    </div>
  </div>
</section>

<section class="probootstrap-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="probootstrap-flex-block">
          <div class="probootstrap-text probootstrap-animate">
            <div class="text-uppercase probootstrap-uppercase">History</div>
            <h3>Take A Look at How We Begin</h3>
            <p>
              Mahila Vikas Kendra was founded in 1996 by a group of well-educated and successful women who wanted to uplift the social and financial status of the women in society.
            </p>
            <p><a href="" class="btn btn-primary">Learn More</a></p>
          </div>
          <div class="probootstrap-image probootstrap-animate" style="background-image: url(static/images/slider_4.jpg)">
            <a href="https://vimeo.com/45830194" class="btn-video popup-vimeo"><i class="icon-play3"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="probootstrap-section">
  <div class="container">

    <div class="col-md-6">
      <p>
        <img src="static/images/slider_1.jpg" alt="Free Bootstrap Template by ProBootstrap.com" class="img-responsive">
      </p>
    </div>
    <div class="col-md-6 col-md-push-1">
      <h2>We are a Mumbai based NGO focused women empowerment.</h2>
      <p>
        Our focus has been to build employable skills of  less-educated and under-privilege women so that they can find gainful employment to sustain themselves with dignity
      </p>
      <p>All our vocational courses cater to current market demands such as Bedside Patient Assistant Course, Tailoring, Beautician Course, etc. </p>
    </div>


  </div>
</section>


<section class="probootstrap-section">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 text-center section-heading probootstrap-animate">
        <h2>Issue</h2>
        <p class="lead">Lack of access to sustainable livelihood opportunities for less educated and under-privileged women</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="service left-icon probootstrap-animate">
          <div class="icon"><i class="icon-cross"></i></div>
          <div class="text">
            <h3>Training/Vocational courses are not market-linked</h3>
            <p>Low quality of education curriculum due to lack of involvement of industry in course development.</p>
          </div>
        </div>
        <div class="service left-icon probootstrap-animate">
          <div class="icon"><i class="icon-cross"></i></div>
          <div class="text">
            <h3>Market-Demand</h3>
            <p>Current market demand is not considered while offering training/vocational courses.</p>
          </div>
        </div>
        <div class="service left-icon probootstrap-animate">
          <div class="icon"><i class="icon-cross"></i></div>
          <div class="text">
            <h3>Lack of access and knowledge of existing opportunities</h3>
            <p>Job exchanges have limited opportunities and are dysfunctional.</p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="service left-icon probootstrap-animate">
          <div class="icon"><i class="icon-cross"></i></div>
          <div class="text">
            <h3>Lack of employable/entrepreneurship skills</h3>
            <p>90% of women drop out of education system before 10th grade.</p>
          </div>
        </div>

        <div class="service left-icon probootstrap-animate">
          <div class="icon"><i class="icon-cross"></i></div>
          <div class="text">
            <h3>Unsustainable income at work</h3>
            <p>70% of urban population specially women are engaged in informal work which is intermittent is nature. Most of these women are not covered under any laws</p>
          </div>
        </div>

        <div class="service left-icon probootstrap-animate">
          <div class="icon"><i class="icon-cross"></i></div>
          <div class="text">
            <h3>Minimum Wages</h3>
            <p>The minimum wages in India are not linked to latest inflation rate and informal workers are paid far less than minimum wages stipulated by government.</p>
          </div>
        </div>

      </div>
    </div>
    <!-- END row -->
  </div>
</section>
{% endblock %}
